body.{
   backgrund-color: #FFFFE0; /* Warna kuning cerah */
 fount-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca
          Color: #191970 /* Warna teks utama (Biru Gelap) */
     }
     .kartu-profil {
       widhth: 300px;
       margin: 50px auto; /* 50 jarak atas/bawah, auto meneganggan kiri/kanan */
       padding: 20px;
       background-color: white;
       border-radius: 15px; /* Membuat sudut menjadi melengkung */
       box-shadow: 0 4X 8PX rgba(0,0,0,0,1); /* Efek bayangan */
       text-align: center;
     }
     .kartu-prfil img {
       windth: 150px;
       border-radius: 50%;
        }
